
    *::before,
    *::after {
      box-sizing: border-box;
    }
    
    body,main,div,h1, p,{
      margin: 0;
      padding: 0;
    }
    
    html:focus-within {
        scroll-behavior: smooth;
      }
      
      img,
      picture {
        max-width: 100%;
        display: block;
      }
    
      ul[role="list"],
      ol[role="list"] {
      list-style: none;
    }
        
      @media (prefers-reduced-motion: reduce) {
        html:focus-within {
         scroll-behavior: auto;
        } 
      
        *,
        *::before,
        *::after {
          animation-duration: 0.01ms !important;
          animation-iteration-count: 1 !important;
          transition-duration: 0.01ms !important;
          scroll-behavior: auto !important;
        }
      }

      body {
        background-image: url(images/bg-pattern-desktop.svg);
        margin: 0px;
      }

      .Base_logo {
        margin-bottom: 25px;
        padding-top: 25px;
        margin-left: 20px;
      }

      .container {
        display: grid;
        grid-template-columns: 1.1fr 1fr;
      }



      picture {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
      }
   
      .mobile_pic {
        width: 100%;
        height: auto;
        
        object-fit: cover;
      }

      .Heading {
        text-align: center;
        margin-top: 35px
      }

      span {
        font-size: 30px;
      }

      p {
        text-align: center;
        padding: 0px 50px 0px 50px
      }

      .input-form {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 10px;
        margin-left: 36px;
      }
      
      input {
        width: 88%;
        padding: 10px;
        border-radius: 25px;
        border-style: solid;
        padding-left: 30px;
        padding-right: 30px;
      }

      button {
        position: relative;
        right: 30px;
        padding-right: 50px;
    /* padding-bottom: 13px; */
        border-radius: 25px;
        width: 80px;
        height: 40px;
        border-style: solid;
      }
      
      @media (max-width: 768px) {
       .container{
        grid-template-columns: 1fr;
       }
       
        picture {
          height: 400px; /* Adjust the height for mobile view cropping */
           order: ;
          
        }

        .content {
          order: 2;
        }

        .input-form {
          order: 3;
        }

        .mobile_pic{
          max-width: 100%;
          
          
        }
      }

      

 